# Counter

In [1]:
from collections import Counter

In [2]:
l = [1,1,1,2,3,4,6,7,2,2,3,4,5,6,7]
Counter(l)

Counter({1: 3, 2: 3, 3: 2, 4: 2, 5: 1, 6: 2, 7: 2})

In [3]:
s = 'aaaaaaabbbeeessshhhhhh'
Counter(s)

Counter({'a': 7, 'b': 3, 'e': 3, 'h': 6, 's': 3})

In [4]:
word = 'Hey You Look Awesome Trust me I dont lie You really Look Awesome Hey You'
Rep = word.split()
t = Counter(Rep)
print t

Counter({'You': 3, 'Look': 2, 'Awesome': 2, 'Hey': 2, 'me': 1, 'lie': 1, 'I': 1, 'Trust': 1, 'really': 1, 'dont': 1})

In [5]:
t.most_common

In [6]:
t.most_common(2)

[('You', 3), ('Look', 2)]

In [7]:
sum(t.values())

15

In [8]:
list(t)

['me', 'lie', 'Look', 'I', 'Awesome', 'Hey', 'You', 'Trust', 'really', 'dont']

In [9]:
set(t)

{'Awesome', 'Hey', 'I', 'Look', 'Trust', 'You', 'dont', 'lie', 'me', 'really'}

In [10]:
dict(t)

{'Awesome': 2,
 'Hey': 2,
 'I': 1,
 'Look': 2,
 'Trust': 1,
 'You': 3,
 'dont': 1,
 'lie': 1,
 'me': 1,
 'really': 1}

In [11]:
t.items()

[('me', 1),
 ('lie', 1),
 ('Look', 2),
 ('I', 1),
 ('Awesome', 2),
 ('Hey', 2),
 ('You', 3),
 ('Trust', 1),
 ('really', 1),
 ('dont', 1)]

# DefaultDict

In [12]:
from collections import defaultdict

In [13]:
d = {'k1': 1}

In [14]:
d['k1']

1

In [15]:
d['k2']

KeyError: 'k2'

In [ ]:
d = defaultdict(object)

In [ ]:
d['one']

In [ ]:
for item in d:
    print item

In [ ]:
d = defaultdict(lambda: 0)

In [ ]:
d['one']

In [ ]:
d['two'] = 2

In [ ]:
d

# OrderedDict

In [18]:
d = {}
d['a'] = 1
d['b'] = 2
d['c'] = 3
d['d'] = 4
d['e'] = 5

In [19]:
d

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [20]:
for k,v in d.items():
    print k,v  
    # Order got mixed up

a 1
c 3
b 2
e 5
d 4

In [21]:
from collections import OrderedDict

In [22]:
d = OrderedDict()

In [23]:
d['a'] = 1
d['b'] = 2
d['c'] = 3
d['d'] = 4
d['e'] = 5

In [24]:
for k,v in d.items():
    print k,v
    #OrderderdDict keeps the sequence check

a 1
b 2
c 3
d 4
e 5

In [25]:
d1 = {}
d1['a'] = 1
d1['b'] = 2

d2 = {}
d2['b'] = 2
d2['a'] = 1

In [26]:
print d1 == d2

True

In [31]:
d3 = OrderedDict()
d3['a'] = 1
d3['b'] = 2

d4 = OrderedDict()
d4['b'] = 2
d4['a'] = 1

In [32]:
print d3 == d4

False

# NamedTuple

In [33]:
t = (1,2,3)

In [34]:
t[0]

1

In [35]:
from collections import namedtuple

In [36]:
Dog  = namedtuple('Dog','age breed name') #Dog takes two arguments.first 'Dog' which is the name of the class and secondly parameters of class seperated by spaces in one quote.

In [37]:
tommy = Dog(age=5,breed='German',name = 'ted')

In [38]:
tommy

Dog(age=5, breed='German', name='ted')

In [39]:
tommy.age

5

In [40]:
tommy.breed

'German'

In [41]:
tommy.name

'ted'

In [42]:
tommy.count

In [43]:
tommy.index

In [44]:
tommy[2]

'ted'

In [46]:
print tommy[1]
print tommy[0]

German
5

In [47]:
Cat = namedtuple('Cat','Fur claws name')

In [49]:
c = Cat(Fur = 'Fuzzy',claws = False, name= 'Meow')

In [50]:
c

Cat(Fur='Fuzzy', claws=False, name='Meow')

c.name

In [52]:
c.claws

False

In [53]:
c.Fur

'Fuzzy'

In [54]:
c[0]

'Fuzzy'

In [61]:
print c[1],c[2]

False Meow

# Datetime

In [62]:
import datetime

In [63]:
t = datetime.time(11,12,5)  # hour,minute,second,microsecond format

In [64]:
print t

11:12:05

In [99]:
print 'Hour:',t.hour
print 'Minutes:',t.minute
print 'Second:',t.second
print 'Microsecond:',t.microsecond

Hour: 11
Minutes: 12
Second: 5
Microsecond: 0

In [69]:
print datetime.time.min

00:00:00

In [70]:
print datetime.time.max

23:59:59.999999

In [72]:
print datetime.time.resolution

0:00:00.000001

In [80]:
today = datetime.date(2018,2,14)

In [81]:
print today

2018-02-14

In [82]:
today = datetime.date.today()

In [83]:
print today

2018-02-05

In [84]:
today.timetuple()

time.struct_time(tm_year=2018, tm_mon=2, tm_mday=5, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=0, tm_yday=36, tm_isdst=-1)

In [86]:
print today.year
print today.month
print today.day

2018
2
5

In [90]:
print datetime.date.min
print datetime.date.max
print datetime.date.resolution

0001-01-01
9999-12-31
1 day, 0:00:00

In [91]:
d1 = datetime.date(2019,2,14)
print d1

2019-02-14

In [92]:
d2 = d1.replace(year = 1990)

In [94]:
print d2

1990-02-14

In [96]:
d3 = datetime.date(1990,6,22)
d4 = d3 - today
print d4 #my age on feb 5th,18

-10090 days, 0:00:00